.admin-console
  %h1=@coderetreat.location

  .actions.status_update
    %header
      %h3 Update Status Of Coderetreat
    %ul
      -%w[not_started on_break at_lunch finished].each do |status|
        %li=link_to(status.titleize,
          coderetreat_status_path(id: @coderetreat.admin_token, status: status),
          method: :put,
          class: status)

  .create-new
    %header
      %h3 Start A New Session
    =form_for CoderetreatSession.new,
      url: coderetreat_sessions_path(coderetreat_id: @coderetreat.admin_token) do |f|
      =f.label :constraints, "Constraints"
      =f.text_area :constraints
      =f.submit "Start"

.sessions
  %h1.coderetreat_status=human_view_coderetreat_status(@coderetreat.status)

  -if @coderetreat.in_session?
    .current
      =render "session", session: @coderetreat.current_session

  - if @coderetreat.previous_sessions.any?
    %h2 Completed
    .previous
      -@coderetreat.previous_sessions.each do |session|
        = render 'session', session: session
