%section.actions.status_update
  %header
    %h3 Update Status Of Coderetreat
  %ul
    %li=link_to "Not Started", coderetreat_status_path(id: @coderetreat.admin_token, :status => "not_started"), :method => :put
    %li=link_to "On Break",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "on_break"), :method => :put
    %li=link_to "At Lunch",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "at_lunch"), :method => :put
    %li=link_to "Finished",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "finished"), :method => :put

%header
  %h2
    =@coderetreat.location
    %br
    Current Status:
    %span.coderetreat_status=human_view_coderetreat_status(@coderetreat.status)

-if @coderetreat.in_session?
  %section.current_session.session_info
    %p.started_at
      Started Around:
      =@coderetreat.current_session.created_at.to_time.strftime("%H:%m %p")
    %p.constraints
      Constraints:
      =simple_format @coderetreat.current_session.constraints

%section.sessions

  %section.create_new
    %header
      %h2 Start A New Session
    =form_for CoderetreatSession.new, url: coderetreat_sessions_path(coderetreat_id: @coderetreat.admin_token) do |f|
      =f.submit "Start"
      %br
      =f.label :constraints, "With these constraints (optional)"
      %br
      =f.text_area :constraints

  - unless @coderetreat.previous_sessions.empty?
    %section.previous_sessions
      %h2
        Previous Sessions
      -@coderetreat.previous_sessions.each do |session|
        %section.session_info
          %p.started_at
            Started Around:
            =session.created_at.to_time.strftime("%H:%m %p")
          %p.constraints
            Constraints:
            =simple_format session.constraints
