.admin-console
  %h1=@coderetreat.location

  .actions.status_update
    %header
      %h3 Update Status Of Coderetreat
    %ul
      %li=link_to "Not Started", coderetreat_status_path(id: @coderetreat.admin_token, :status => "not_started"), :method => :put
      %li=link_to "On Break",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "on_break"), :method => :put
      %li=link_to "At Lunch",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "at_lunch"), :method => :put
      %li=link_to "Finished",    coderetreat_status_path(id: @coderetreat.admin_token, :status => "finished"), :method => :put

  .create-new
    %header
      %h3 Start A New Session
    =form_for CoderetreatSession.new, url: coderetreat_sessions_path(coderetreat_id: @coderetreat.admin_token) do |f|
      =f.label :constraints, "Constraints"
      =f.text_area :constraints
      =f.submit "Start"

.sessions
  %h1.coderetreat_status=human_view_coderetreat_status(@coderetreat.status)

  -if @coderetreat.in_session?
    .current
      =render "session", session: @coderetreat.current_session

  - unless @coderetreat.previous_sessions.empty?
    .previous
      -@coderetreat.previous_sessions.each do |session|
        = render 'session', session: session
