- next_state_info = coderetreat_next_state(@coderetreat)
%header
  %h1 Coderetreat Event at #{@coderetreat.location}

%section.status
  =@coderetreat.state_information.current_state_display.titleize
  =link_to next_state_info.first, coderetreat_path(@coderetreat.admin_token, :new_state => next_state_info.second), :method => :put
