- state_info = @coderetreat.state_information
%header
  %h1 Coderetreat Event at #{@coderetreat.location}

%section.status
  =state_info.current_state_display.titleize
  =link_to state_info.next_state_display, coderetreat_path(@coderetreat.admin_token, :new_state => state_info.next_state), :method => :put
