%header
  %h2
    Current Status:
    %span.coderetreat_status=human_view_coderetreat_status(@coderetreat.status)

%section.actions.status_update
  %header
    %h3 Update Status Of Coderetreat
  %ul
    %li=link_to "Not Started", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "not_started"), :method => :put
    %li=link_to "On Break", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "on_break"), :method => :put
    %li=link_to "At Lunch", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "at_lunch"), :method => :put
    %li=link_to "Finished", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "finished"), :method => :put

-if @coderetreat.in_session?
  %section.current_session.session_info
    %header
      %h3 Current Session Information
    %p.started_at
      Started Around:
      =@coderetreat.current_session.created_at.to_time.strftime("%H:%m %p")
    %p.constraints
      Constraints:
      =@coderetreat.current_session.constraints

%section.sessions
  %header
    %h2 Sessions Today

  %section.create_new
    %h3
      Start A New Session
    =form_for CoderetreatSession.new, url: coderetreat_sessions_path(coderetreat_id: @coderetreat.admin_token) do |f|
      =f.label :constraints
      =f.text_area :constraints
      =f.submit "Start new session"

  %section.previous_sessions
    %h3
      Previous Sessions
    -@coderetreat.sessions.each do |session|
      %section.session_info
        %p.started_at
          Started Around:
          =session.created_at.to_time.strftime("%H:%m %p")
        %p.constraints
          Constraints:
          =session.constraints
