%header
  %h2
    Current Status:
    %span.coderetreat_status=human_view_coderetreat_status(@coderetreat)
%section.status_update_actions
  %ul
    %li=link_to "Not Started", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "not_started"), :method => :put
    %li=link_to "At Lunch", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "at_lunch"), :method => :put
    %li=link_to "Finished", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "finished"), :method => :put
