%h2
  Current Status:
  %span.status=@coderetreat.status
%section.status_changes
  %ul
    %li=link_to "At Lunch", update_status_coderetreat_path(id: @coderetreat.admin_token, :status => "at_lunch"), :method => :put
