// Place all the styles related to the admin/coderetreats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";
@import "neat";

@import "../mixins";
@import "../colors";

.admin-console {
  @include span-columns(6 of 12);
  text-align: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        @include button($green);
        color: $light;
      }
    }
  }
  .create-new {
    margin-top: $gutter;
  }
}
.sessions {
  .coderetreat_status {
    opacity: 0.3;
  }
  text-align: left;
  @include span-columns(6 of 12);
}


form {
  label {
    font-weight: bold;
    @include span-columns(2 of 6);
  }
  textarea {
    @include span-columns(4 of 6);
    @include omega;
    height: 3em;
  }
  input[type=submit] {
    margin-top: $gutter;
    @include button($green);
    color: $light;
    width: 100px;
  }
}

.current_session {
  ul.actions {
    padding-left: 0px;
    li { display: inline; }
  }
}

.session_info {
  @include card;
  margin-bottom: $gutter;
}
