@import "bourbon";
@import "neat";

@import "normalize";

@import "colors";
@import "fonts";

body {
  background: $light;
  font-family: $body-font;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: $title-font;
  margin:0 0 .25em;
}

a {
  color: $green;
  text-decoration: none;
  &:hover, &:visited { color: $green; }
  &:hover { text-decoration: underline; }
}

.container {
  @include outer-container;
}

.coderetreats {
  .coderetreat {
    @include span-columns(4 of 12);
    &:nth-child(3n) { @include omega; }
    position: relative;
    .map {
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 black;
      position: absolute;
      @include span-columns(1 of 4);
    }
    .information {
      @include span-columns(3.4 of 4);
      @include shift(.6);
      padding: $gutter;
      background: white;
      margin-bottom: $gutter;
      box-shadow: 0 2px 4px 0 black;
    }
  }
  @include clearfix;
}

.actions {
  margin-top: 1em;
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
  a {
    border: 1px solid orange;
    background: orange;
    padding: 10px;
    text-shadow: -1px -1px 2px #618926;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    font-size: 1.25em;
  }
}

.session_info {
  p {
    font-size: 1.75em;
  }
}

section.sessions {
  margin-top: 25px;

  section.session_information {
    margin-top: 3em;
  }

  .session_info {
    margin-top: 1em;
    border-bottom: 1px solid orange;
    padding-left: 20px;
    padding-bottom: 5px;
  }
}

section.sponsor img {
  width: 150px;
}

section.sponsor.giveaways img {
  margin-bottom: 15px;
}
