@import "bourbon";
@import "neat";

@import "normalize";

@import "colors";
@import "fonts";

body {
  background: $light;
  font-family: $body-font;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: $title-font;
  margin:0 0 .25em;
}

a {
  color: $green;
  text-decoration: none;
  &:hover, &:visited { color: $green; }
  &:hover { text-decoration: underline; }
}

.container {
  margin-top: $gutter;
  margin-bottom: $gutter;
  @include outer-container;
}

.coderetreats {
  .coderetreat {
    @include span-columns(4 of 12);
    &:nth-child(3n) { @include omega; }
    position: relative;
    .map {
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 black;
      position: absolute;
      @include span-columns(1 of 4);
    }
    .information {
      @include span-columns(3.4 of 4);
      @include shift(.6);
      padding: $gutter;
      background: white;
      margin-bottom: $gutter;
      box-shadow: 0 2px 4px 0 black;
      .constraints {
        max-height: 4em;
        overflow: scroll;
        .previous, .current {
          span {
            margin-left: $gutter - 1em;
          }
          line-height: $gutter;
        }
        .previous {
          opacity: 0.5;
        }
      }
    }
  }
  @include clearfix;
}

.actions {
  margin-top: 1em;
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
  a {
    border: 1px solid orange;
    background: orange;
    padding: 10px;
    text-shadow: -1px -1px 2px #618926;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    font-size: 1.25em;
  }
}

.session_info {
  p {
    font-size: 1.75em;
  }
}

section.sessions {
  margin-top: 25px;

  section.session_information {
    margin-top: 3em;
  }

  .session_info {
    margin-top: 1em;
    border-bottom: 1px solid orange;
    padding-left: 20px;
    padding-bottom: 5px;
  }
}

.sponsors {
  @include outer-container;
  .sponsor-level {
    @include fill-parent;
    h3 { @include span-columns(4 of 12); }
    .sponsors-container { @include span-columns(8 of 12); }
    padding-top: $gutter;
    overflow: hidden;
    &.globe .sponsor { @include span-columns(4); }
    &.continent .sponsor { @include span-columns(3);}
    .sponsor {
      float: left;
      img {
        @include fill-parent;
        @include clearfix;
      }
    }
  }
  .new-sponsor {
    border-top: 1px dashed $dark;
    @include span-columns(8 of 12);
    @include shift(4);
  }
}
