- coderetreat = coderetreat_on_break
%li{id: dom_id(coderetreat)}
  =coderetreat.location
  =link_to "(edit)", edit_coderetreat_path(coderetreat.admin_token)
  %section.session_information
    ==On Break After Session #{coderetreat.session_number}
