%section.coderetreats{class: state}
  %header
    %h2=human_view_coderetreat_status(state)
  .coderetreats
    -@coderetreats.by_status(state) do |coderetreat|
      .coderetreat
        %img.map{src: google_map_image_for(coderetreat.location)}
        .information
          %h3=coderetreat.location
          .constraints=simple_format coderetreat.current_session_constraints
