%section.coderetreats.in_session
  %header
    %h2 In Session
  %ul
    -@coderetreats.in_session do |coderetreat|
      %li.coderetreat
        =coderetreat.location

-CoderetreatLive::Coderetreats::StateMachine::RUNNING_NON_SESSION_STATES.each do |state|
  =render partial: "state_listing", locals: {state: state}

-CoderetreatLive::Coderetreats::StateMachine::NOT_RUNNING_STATES.each do |state|
  =render partial: "state_listing", locals: {state: state}

