-content_for :head do
  %meta{"http-equiv" => "refresh", :content => "600"}

%h1 Global Day of Coderetreat Events
%h3 This is the main page for showing events that are running on December 8th, 2012, for the #{link_to "Global Day of Coderetreat", "http://globalday.coderetreat.org"}. As events begin/end, sessions begin/end, this page should update with information about which events are at which phase.

%section.coderetreats.in_session
  %header
    %h2 In Session
  %ul
    -@coderetreats.in_session do |coderetreat|
      %li.coderetreat
        =coderetreat.location
        .constraints=simple_format coderetreat.current_session_constraints

=render partial: "state_listing", collection: CoderetreatLive::Coderetreats::StateMachine::RUNNING_NON_SESSION_STATES, :as => :state

=render partial: "state_listing", collection: CoderetreatLive::Coderetreats::StateMachine::NOT_RUNNING_STATES, :as => :state

