-content_for :head do
  %meta{"http-equiv" => "refresh", :content => "600"}

%h1 Global Day of Coderetreat Events
%p
  This is the main page for showing events that are running on December 14th,
  2013, for the #{link_to "Global Day of Coderetreat", "http://globalday.coderetreat.org"}.
  As events and sessions begin and end, this page will update with information
  about which events are at which phase.

%section.coderetreats.in_session
  %header
    %h2 In Session
  .coderetreats
    -@coderetreats.in_session do |coderetreat|
      .coderetreat
        %h3=coderetreat.location
        .constraints=simple_format coderetreat.current_session_constraints

=render partial: "state_listing",
  collection: CoderetreatLive::Coderetreats::StateMachine::RUNNING_NON_SESSION_STATES,
  :as => :state

=render partial: "state_listing",
  collection: CoderetreatLive::Coderetreats::StateMachine::NOT_RUNNING_STATES,
  :as => :state

