%section.coderetreats.in_session
  %header
    %h2 In Session
  %ul
    -@coderetreats.in_session do |coderetreat|
      %li.coderetreat
        =coderetreat.location

%section.coderetreats.at_lunch
  %header
    %h2 At Lunch
  %ul
    -@coderetreats.at_lunch do |coderetreat|
      %li.coderetreat=coderetreat.location

%section.coderetreats.on_break
  %header
    %h2 On Break
  %ul
    -@coderetreats.on_break do |coderetreat|
      %li.coderetreat=coderetreat.location

%section.coderetreats.finished
  %header
    %h2 Finished
  %ul
    -@coderetreats.finished do |coderetreat|
      %li.coderetreat=coderetreat.location

%section.coderetreats.not_started
  %header
    %h2 Not Started
  %ul
    -@coderetreats.not_started do |coderetreat|
      %li.coderetreat=coderetreat.location

