%h1 Global Day of Coderetreat Events
%h3 This is the main page for showing events that are running on December 8th, 2012, for the #{link_to "Global Day of Coderetreat", "http://globalday.coderetreat.org"}. As events begin/end, sessions begin/end, this page should update with information about which events are at which phase.

%section.coderetreats.in_session
  %header
    %h2 In Session
  %ul
    -@coderetreats.in_session do |coderetreat|
      %li.coderetreat
        =coderetreat.location
        .constraints=simple_format coderetreat.current_session_constraints

<div style="text-align:center">
%h3 Check out our #{link_to "photo wall", "http://sharypic.com/gdcr2012"} provided by #{link_to "Sharypic", "http://sharypic.com"}.
<iframe width=480 height=320 scrolling=no frameborder=0 src=http://sharypic.com/events/nfv8gr0utckos8sg/widget><a href=http://sharypic.com/gdcr2012 title="Global Day of Coderetreat 2012 photos">Global Day of Coderetreat 2012 photos></a></iframe>
<div>

=render partial: "state_listing", collection: CoderetreatLive::Coderetreats::StateMachine::RUNNING_NON_SESSION_STATES, :as => :state

=render partial: "state_listing", collection: CoderetreatLive::Coderetreats::StateMachine::NOT_RUNNING_STATES, :as => :state

