%h1 Today's Coderetreats

%section.coderetreats.not_started
  %header
    %h2 Not Started
  %ul
    =render partial: "coderetreat", collection: @coderetreats.not_started

%section.coderetreats.just_started
  %header
    %h2 Just Started
  %ul
    =render partial: "coderetreat", collection: @coderetreats.just_started

%section.coderetreats.doing_introduction
  %header
    %h2 Doing Intro
  %ul
    =render partial: "coderetreat", collection: @coderetreats.in_introduction

