%h1 Today's Coderetreats
%h2 This is the main page for showing events that are running on a specific day (today). As events begin/end, sessions begin/end, this page should update with information about which events are at which phase. There will also be a way to get more information about a specific event, such as skype information, other information that was given, etc.

%section.coderetreats.not_started
  %header
    %h2 Not Started
  %ul
    =render partial: "coderetreat", collection: @coderetreats.not_started

%section.coderetreats.just_started
  %header
    %h2 Just Started
  %ul
    =render partial: "coderetreat", collection: @coderetreats.just_started

%section.coderetreats.doing_introduction
  %header
    %h2 Doing Intro
  %ul
    =render partial: "coderetreat", collection: @coderetreats.in_introduction

%section.coderetreats.in_session
  %header
    %h2 In A Session
  %ul
    =render partial: "coderetreat_in_session", collection: @coderetreats.in_session

%section.coderetreats.on_break
  %header
    %h2 On A Break
  %ul
    =render partial: "coderetreat_on_break", collection: @coderetreats.on_break
