%h1 Today's Coderetreats

%section.coderetreats.not_started
  %header
    %h2 Not Started
  %ul
    -@coderetreats.not_started.each do |coderetreat|
      %li{id: dom_id(coderetreat)}=coderetreat.location

%section.coderetreats.just_started
  %header
    %h2 Just Started
  %ul
    -@coderetreats.just_started.each do |coderetreat|
      %li{id: dom_id(coderetreat)}=coderetreat.location


%section.coderetreats.doing_introduction
  %header
    %h2 Doing Intro
  %ul
    -@coderetreats.in_introduction.each do |coderetreat|
      %li{id: dom_id(coderetreat)}=coderetreat.location

