	<aside>
      <header>
      <h2>Global Sponsors</h2>
      </header>

      <section class="sponsors">
        <header>Thanks to our Global Sponsors</header>
        <section class='sponsor globe'>
          <header>Globe Level</header>
          <a href="http://www.jetbrains.com/" alt="Jetbrains"><img src="http://gdcr.coderetreat.org/images/sponsors/jetbrains_logo.gif" alt="Thanks to Jetbrains for sponsoring!" /></a>
          <a href="http://www.thoughtworks.com/" alt="Thoughtworks"><img src="http://gdcr.coderetreat.org/images/sponsors/thoughtworks_logo.png" alt="Thanks to Thoughtworks for sponsoring!" /></a>
          <a href="http://github.com/" alt="Github"><img src="http://gdcr.coderetreat.org/images/sponsors/github_logo.png" alt="Thanks to Github for sponsoring!" /></a>
        </section>
        <section class='sponsor continent'>
          <header>Continent Level</header>
          <a href="http://www.dnsimple.com/" alt="DNSimple"><img src="http://gdcr.coderetreat.org/images/sponsors/dnsimple_logo.png" alt="Thanks to DNSimple for sponsoring!" /></a>
          <a href="http://neo4j.org/?ref=gdcr2013" alt="Neo4j"><img src="http://gdcr.coderetreat.org/images/sponsors/neo4j_logo.png" alt="Thanks to Heroku for sponsoring!" /></a>
        </section>
        <footer>Thanks to all our global sponsors!</footer>
      </section>

	</aside>
